@model CNPJ.App.ViewModels.CnpjWsVM

@{
    ViewData["Title"] = "Consulta";
}
<h1>Consulta CNPJ</h1>

<form asp-controller="Home" asp-action="Consult" method="post">
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="col-sm-8">
            <label class="control-label">CNPJ: </label>
            <input asp-for="Cnpj" class="col-sm-4" />
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>